html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: sans-serif;
    /* font-family: 'Fraunces', serif; */
    font-family: 'Barlow', sans-serif;
}

/* Global styles */

.container{
    max-width: 1300px;
    margin: auto;
    padding: 0 50px;
}

.logo{
display: block;
}


/* Header styles */

.header{
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.header_logo{
    display: flex;
}


.header_nav{
    list-style: none;
    display: flex;
}

.nav_item{
    margin-right: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
}

.nav_link{
    text-decoration: none;
    color: #83888F;
}


/* Great styles */

.great{
    padding: 70px 60px;
    background: url(../img/bacground_img.png);
    width: 1200px;
    height: 500px;
    border-radius: 10px;
}

.grear_title{
    width: 493px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.grear_title--madifair{
    font-family: 'Fraunces', serif;
}

.great_description{
    padding: 40px 0;
    width: 385px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.great_link{
    text-decoration: none;
    padding: 10px 20px;
    background: #0E8784;
    border-radius: 6px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}

.great_link--madifair{
    font-family: 'Fraunces', serif;
}



/* Planalto styles */


.planalto{
    background-image: url(../img/colections.png);
    background-repeat: no-repeat;
    background-size:contain;
}

.planalto_item{
    display: inline-block;
    padding: 200px 20px;
}

.planalto_img{
    padding-bottom: 50px;
    width: 256px;
    height: 255px;
    left: 734px;
    top: 975px;
}

.planalto_title{
    width: 255px;
    height: 32px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.planalto_description{
    width: 255px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}



/* Choose styles */


.choose{
    margin-bottom: 300px;
    text-align: center;
    width: 1200px;
    height: 500px;
    background-color: #0a111bd7;
    border-radius: 10px;
}

.choose_title{
    padding-top: 70px;
    padding-bottom: 40px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}

.choose_description{
    margin: 0 319px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.choose_items{
    justify-content: space-around;
    display: flex;
    padding-top: 9%;
    padding-left: 30px;
}

.choose_item{
    padding: 0 40px;
    padding-top: 1%;
    width: 300px;
    height: 330px;
    background: #0E8784;
    border-radius: 8px;
}

.choose_item_img{
    width: 50px;
    padding: 30px 0;
}

.choose_item_title{
    padding: 30px 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}

.choose_item_description{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}



/* Block styles */


.block{
    padding: 40px 120px;
    padding-bottom: 200px;
}

.block:nth-child(3){
    border-top: none;
}

.block::after{
    content: "";
    width: 31px;
    height: 31px;
    position: absolute;
    background-size: cover;
    top: -15.5px;
    background-color: white;
    left: 0;
    border-radius: 50%;
    border: 2px solid #0E8784;
}

.block_title{
    padding-bottom: 70px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.block_items{
    display: flex;
    padding: 50px 0;
}

.block_item{
    padding-right: 50px;
}

.block_item_number{
    width: 90px;
    height: 70px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.block_item_number--madifair{
    font-family: 'Fraunces', serif;
}

.block_item_title{
    padding: 42px 0;
    width: 205px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.block_item_title--madifair{
    font-family: 'Fraunces', serif;
}

.block_item_description{
    width: 265px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}


.plan_link{
    text-decoration: none;
    padding: 15px 31px;
    background: #0E8784;
    border-radius: 6px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}



/* Footer styles */

.footer{
    background: #2C343E;
    align-items: center;
    justify-content: center;
}

.footer_items{
    display: flex;
}

.footer_item_link{
    padding: 50px 0;
}

.footer_item{
    padding-left: 50px;
    list-style: none;
    display: flex;
}

.footer_item_nav{
    margin: 51px 30px;
}

.footer_item_link{
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.footer_twitter{
    display: flex;
    padding: 50px;
    padding-left: 250px;
}

.footer_twitter_img{
    width: 24px;
    height: 24px;
    margin-right: 30px;
}

